<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery Mobile CSS library -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />


    <!-- JS libraries & scripts -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>-->

    <!-- Include own library -->
    <script src="js/quizMain.js"></script>

</head>

<body ng-app="QuizApp" ng-controller='quizAppController'>

    <script type="text/javascript">
        var collections = {
            quizQuestions: []
        }

        $(document).on("pagechange", function (event) {});

        $(document).ready(function () {
            getQuestions("en");
        });

        var app = angular.module('QuizApp', []);

        app.controller('quizAppController', ['$scope', function ($scope) {
            $scope.quizList = collections.quizQuestions;

            $scope.updateQuizList = function () {
                console.log('beleptem');
                $scope.color = "";
                $scope.quizList = collections.quizQuestions;
                $scope.$apply();
            };

        }]);
    </script>

    <div data-role="page" id="quizPage" data-title="Quiz Page">
        <div data-role="header" id="pageone-headaer">
            <h2>Quiz Questions Header</h2>
        </div>
        <div data-role="main" class="ui-content">
            <div id="quizMainList">
                <ul class="ui-listview ui-corner-all" data-role="listview" data-inset="true" ng-repeat='x in quizList' style="white-space: normal !important;">
                    <li class="ui-li" data-theme="c" data-wrapperels="div" data-shadow="false" data-corners="false">
                        <div class="ui-btn-inner ui-li">
                            <div>
                                <h2 class="ui-li-heading">{{x.textQuestion}}</h2>
                                <br/>
                                <fieldset data-role="controlgroup" id='controlgroup-radio-{{x.idQuestion}}' ng-hide='x.multiSelect'>
                                    <div class='ui-corner-all' ng-repeat='y in x.selectChoices'>
                                        <label for="radio-choice-{{x.idQuestion}}-{{y.id}}">{{y.text}}</label>
                                        <input name="radio-controlgroup-{{x.idQuestion}}" id="radio-choice-{{x.idQuestion}}-{{y.id}}" value="{{x.idQuestion}}-{{y.id}}" type="radio">
                                    </div>
                                </fieldset>
                                <fieldset data-role="controlgroup" id='controlgroup-checkbox-{{x.idQuestion}}' ng-show='x.multiSelect'>
                                    <div class='ui-corner-all' ng-repeat='y in x.selectChoices'>
                                        <label for="checkbox-choice-{{x.idQuestion}}-{{y.id}}">{{y.text}}</label>
                                        <input name="checkbox-controlgroup-{{x.idQuestion}}" id="checkbox-choice-{{x.idQuestion}}-{{y.id}}" value="{{x.idQuestion}}-{{y.id}}" type="checkbox">
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div data-role="footer">
            <h2>Quiz Questions Footer</h2>
        </div>
    </div>

</body>

</html>
