<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery Mobile CSS library -->
    <link rel="stylesheet" href="css/jmobile.min.css" />
    <link rel="stylesheet" href="css/quizMain.css" />

    <!-- JS libraries & scripts -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/angular.min.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>-->

    <!-- Include own library -->
    <script src="js/quizMain.js"></script>

</head>

<body ng-app="QuizApp" ng-controller='quizAppController'>

    <script type="text/javascript" src="js/app.js"></script>


    <div data-role="page" id="selectLanguage" data-title="Quiz Page">
        <form>
            <div class="centerDiv" align='center'>
                <div class="ui-field-contain" style='text-align: center;'>
                    <select name="select-language" id="select-language" data-iconpos="right">
                        <option value="en">English</option>
                        <option value="hu">Magyar</option>
                        <option value="de">Deutsch</option>
                    </select>
                    <a onclick='pageChange("1");' class="ui-btn ui-btn-inline ui-corner-all">Quizz</a>
                </div>
            </div>
        </form>
    </div>

    <div data-role="page" id="quizPage" data-title="Quiz Page">
        <div data-role="panel" id="quizMenuPanel">
            <ul data-role="listview" data-inset="true">
                <li><a onclick='pageChange("1-1");'>Quiz 1</a></li>
                <li><a onclick='pageChange("1-2");'>Quiz 2</a></li>
                <li><a onclick='pageChange("1-3");'>Quiz 3</a></li>
                <li><a onclick='pageChange("2");'>Language</a></li>
            </ul>
        </div>
        <div data-role="header" id="pageone-headaer">
            <a href="#quizMenuPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left ui-btn-icon-notext">Open Panel</a>
            <h2>&nbsp;</h2>
        </div>
        <div data-role="main" class="ui-content">
            <div id="quizMainList">
                <ul class="ui-listview ui-corner-all" data-role="listview" data-inset="true" ng-repeat='x in quizList' style="white-space: normal !important;">
                    <li class="ui-li" data-theme="c" data-wrapperels="div" data-shadow="false" data-corners="false">
                        <div class="ui-btn-inner ui-li">
                            <div>
                                <h2 class="ui-li-heading">{{x.textQuestion}}</h2>
                                <br/>
                                <fieldset data-role="controlgroup" id='controlgroup-radio-{{x.idQuestion}}' ng-hide='x.multiSelect'>
                                    <div class='ui-corner-all' ng-repeat='y in x.selectChoices'>
                                        <label for="radio-choice-{{x.idQuestion}}-{{y.id}}">{{y.text}}</label>
                                        <input name="radio-controlgroup-{{x.idQuestion}}" id="radio-choice-{{x.idQuestion}}-{{y.id}}" value="{{x.idQuestion}}-{{y.id}}" type="radio">
                                    </div>
                                </fieldset>
                                <fieldset data-role="controlgroup" id='controlgroup-checkbox-{{x.idQuestion}}' ng-show='x.multiSelect'>
                                    <div class='ui-corner-all' ng-repeat='y in x.selectChoices'>
                                        <label for="checkbox-choice-{{x.idQuestion}}-{{y.id}}">{{y.text}}</label>
                                        <input name="checkbox-controlgroup-{{x.idQuestion}}" id="checkbox-choice-{{x.idQuestion}}-{{y.id}}" value="{{x.idQuestion}}-{{y.id}}" type="checkbox">
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div data-role="footer">
            <h2>Quiz Questions Footer</h2>
        </div>
    </div>

</body>

</html>
